{% extends 'base.html' %}

{% block body %} 

  <div class="text-center mt-4 mb-4">
        <h2 style="border-bottom:2px solid green; margin">Vision & Mision</h2>
  </div>
  
  <p><b>Vision</b></p>
  <br>
  <p>To be an academia of "first choice" to transform lives that will change the world for the better at whatever level of human endeavour they are involved.</p> <br />
  
    <p><b>Mission</b></p>
    <ul>
        <li>To create confident, dedicated honest and upright individuals who become an asset to the society.</li>
        <li>We provide space to the students to freely express and develop views that help them respond to changes in the society.</li>
        <li>We recognize the challenges of an interdependent and competitive world and the need for our students to adapt and excel in it.</li>
        <li>To develop professionals who are committed to their personal & professional endeavours and who have the vision, courage and dedication to initiate and manage change.</li>
    </ul>


{% endblock body %}